################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfApp/.vs/WpfApp/v15/Server/sqlite3/storage.ide-wal
/WpfApp/.vs/WpfApp/v15/Server/sqlite3/storage.ide-shm
/WpfApp/.vs/WpfApp/v15/Server/sqlite3/storage.ide
/WpfApp/.vs/WpfApp/v15/Server/sqlite3/db.lock
/WpfApp/.vs/WpfApp/v15/.suo
